.zooport {
    &__filter {
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        transition: all $animation-duration-base;
        background-color: $background-color-base;

        &.--hidden {
            transform: translateX(100%);
            height: 0;
        }
    }
}
