.skyduck-weather-forecasts {
    display: grid;
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        skyduck-weather {
            width: 360px;

            &:not(:first-of-type) {
                margin-left: 10px;
            }
        }
    }
}
