@import 'fonts';
@import 'variables';
@import 'base';
@import 'filter';
@import 'skyduck';
@import 'version-info';

@keyframes popup {
    0% {
        transform: translateY(100%);
    }
    25% {
        transform: translateY(1%);
    }
    75% {
        transform: translateY(1%);
    }
    100% {
        transform: translateY(20px);
    }
}

.zooport {
    display: block;
    height: 100%;

    &.--no-header {
        .zooport__header {
            transform: translateY(-100%);
        }
    }

    &__header {
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        width: 100%;
        user-select: none;
        display: grid;
        grid-template-columns: 50px auto;
        transition: all .25s;
        background-color: $color-base-black;

    }

    &__menu {
        display: flex;
        justify-content: center;
        grid-column: 1;
        grid-row: 1;
        padding: 10px;
        background-color: $color-base-black;

        i {
            font-size: 32px;
            color: $color-base-white;
        }
    }

    &__content-container {
        display: block;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 10px;
        margin-top: 220px;

        @media (min-width: 769px) {
            margin-top: 270px;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        right: 0;
        transform: translateY(20px);
        font-size: 19px;
        background-color: $color-base-black;
        color: $color-pastel-violet;
        padding: 10px;
        height: 115px;
        cursor: pointer;
        transition: all $animation-duration-base;

        &:not(.--hidden) {
            animation: popup #{$animation-duration-base * 2};
        }

        &.--hidden {
            transform: translateY(100%);
        }

        &-supported-browsers {
            display: flex;
            margin-bottom: 3px;
        }

        &-supported-browsers i {
            font-size: 24px;
        }

        &-please-browse-responsibly {
            display: flex;
            flex-direction: column;
            font-size: $font-size-small;
        }

        &-please-browse-responsibly span {
            flex-shrink: 0;
        }

        &-please-browse-responsibly span:nth-of-type(1) {
            margin-bottom: 5px;
        }

        &-please-browse-responsibly span:not(:nth-of-type(1)) {
            font-size: $font-size-xs;
        }
    }
}

.zooport__footer {
    &.--minified {
        transform: translateY(76px);
        width: 70px;

        span {
            display: none;
        }
    }
}
